<?xml version="1.0" ?>
<config>
    <modules>
        <CU_Cua>
            <version>1.0.0</version>
        </CU_Cua>
    </modules>
    <frontend>
        <layout>
            <updates>
                <cucua>
                    <file>cu_cua.xml</file>
                </cucua>
            </updates>
        </layout>
        <routers>
            <contacts>
                <args>
                    <modules>
                        <CU_Cua before="Mage_Contacts">Cu_Cua</CU_Cua>
                    </modules>
                </args>
            </contacts>
        </routers>
    </frontend>
    <global>
        <blocks>
            <cucua>
                <class>CU_Cua_Block</class>
            </cucua>
        </blocks>
        <models>
            <cucua>
                <class>CU_Cua_Model</class>
                <resourceModel>cucua_resource</resourceModel>
            </cucua>
            <cucua_resource>
                <class>CU_Cua_Model_Resource</class>
                <entities>
                    <table_appeals>
                        <table>cu_cua_appeals</table>
                    </table_appeals>
                </entities>
            </cucua_resource>
        </models>
        <resources>
            <cucua_setup>
                <setup>
                    <module>CU_Cua</module>
                </setup>
            </cucua_setup>
        </resources>
        <helpers>
            <cucua>
                <class>CU_Cua_Helper</class>
            </cucua>
        </helpers>
    </global>
    <admin>
        <routers>
            <cucua_admin>
                <use>admin</use>
                <args>
                    <module>CU_Cua</module>
                    <frontName>appeals_admin</frontName>
                </args>
            </cucua_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <cucua module="cucua">
                <title>Appeals Manager</title>
                <sort_order>77</sort_order>
                <action>appeals_admin/adminhtml_cua</action>
            </cucua>
        </menu>
    </adminhtml>
</config>